* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class *="col"] {
    border: 1px solid white;
    min-height: 40px;
    text-align: center;
    line-height: 40px;
}

.row {
    background-color: #006cfa;
}

.padding {
    padding: 20px;
}

.nested {
    background-color: #00e265;
}

.flex-space {
    justify-content: space-around;
}

.flex-between {
    justify-content: space-between;
}

.flex-l {
    justify-content: flex-start;
}

.flex-m {
    justify-content: center;
}

.flex-r {
    justify-content: right;
}

.h-100 {
    height: 100px;
}

.h-50 {
    height: 50px;
}

.align-c {
    align-self: center;
}

.align-end {
    align-self: flex-end;
}

.mar-bot-40 {
    margin-bottom: 40px;
}